// Font
$primary-font: 'Raleway', sans-serif;
$secondary-font: 'Open Sans', sans-serif;
// Color
$primary-color: #e7434e;
$main-title-color: #f9fafe;
$meta-number-color: #343434;
$desc-color: #a8a8a8;
$sub-title-color: #343435;
$border-color: #bdbdbd;
$gray-color: #717171;
$gray-dark-color: #404040;