section.boat 
  .container 
    +blockSubTitle({
        heading: "Feature boats",
        caption: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus laborum exercitationem, in similique ut"
    })
    .boat-content 
      +boatItem({
        link: "#",
        src: "./images/img-boat-1.png",
        money: "580 / day",
        name: "Delphia 47",
        position: "Gdarisk, Poland",
        berth: "8 berths"
      })
      +boatItem({
        link: "#",
        src: "./images/img-boat-2.png",
        money: "580 / day",
        name: "Sense 55",
        position: "Portofina\o, Italia",
        berth: "12 berths"
      })
      +boatItem({
        link: "#",
        src: "./images/img-boat-3.png",
        money: "580 / day",
        name: "Crusier 51",
        position: "Palma de Mollorca, Spain",
        berth: "8 berths"
      })
      +boatItem({
        link: "#",
        src: "./images/img-boat-4.png",
        money: "580 / day",
        name: "Crusier 51S",
        position: "Lisbon, Portugal",
        berth: "8 berths"
      })
    a.boat-button(href="#") Load more boats
