section.destination
  .container 
    h2.destination-heading Explore our top destinations 
    p.destination-caption Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus laborum exercitationem, in similique ut
    .destination-container
      .destination-content 
        a(href="#").destination-content-item 
          .destination-content-meta 
            i.fa.fa-heart.destination-content-meta-icon 
            span.destination-content-meta-number 730
          .destination-content-position 
            .destination-content-position-place Figueira da Foz
            .destination-content-position-nation Portogal
        a(href="#").destination-content-item 
          .destination-content-meta 
            i.fa.fa-heart.destination-content-meta-icon 
            span.destination-content-meta-number 621
          .destination-content-position 
            .destination-content-position-place Ibiza
            .destination-content-position-nation Spain
        a(href="#").destination-content-item 
          .destination-content-meta 
            i.fa.fa-heart.destination-content-meta-icon 
            span.destination-content-meta-number 543
          .destination-content-position 
            .destination-content-position-place Palma de Mallorca
            .destination-content-position-nation Spain
        a(href="#").destination-content-item 
          .destination-content-meta 
            i.fa.fa-heart.destination-content-meta-icon 
            span.destination-content-meta-number 495
          .destination-content-position 
            .destination-content-position-place Portofino
            .destination-content-position-nation Italia
        a(href="#").destination-content-item 
          .destination-content-meta 
            i.fa.fa-heart.destination-content-meta-icon 
            span.destination-content-meta-number 402
          .destination-content-position 
            .destination-content-position-place Port Hercules
            .destination-content-position-nation Monaco
      a.destination-button(href="#") Explore more destinations 