section.footer 
  .container 
    .footer-item 
      .footer-item-title Top locations
      ul.footer-item-content 
        li
          a(href="#") Lorem ipsum dolor
        li
          a(href="#") Sit amet consectetur 
        li
          a(href="#") Adipisicing elit 
        li
          a(href="#") Vitae, consectetur 
        li
          a(href="#") Tempora nihil vel
    .footer-item 
      .footer-item-title Feature boats
      ul.footer-item-content 
        li
          a(href="#") Lorem ipsum dolor 
        li
          a(href="#") Sit amet consectetur 
        li
          a(href="#") Adipisicing elit 
        li
          a(href="#") Vitae, consectetur 
    .footer-item 
      .footer-item-title Subscribe to our newsletter
      form.footer-item-search 
        input(type="text" placeholder="Your email address")
        button(type="submit") Subscribe
      .footer-item-icons 
        a(href="#")
          i.fab.fa-facebook-f 
        a(href="#")
          i.fab.fa-twitter 
        a(href="#")
          i.fab.fa-google-plus-g
    .footer-item 
      .footer-item-title Contact us
      ul.footer-item-content 
        li
          a(href="#") Lorem ipsum dolor 
        li
          a(href="#") Sit amet consectetur 
        li
          a(href="#") Adipisicing elit 
        li
          a(href="#") Vitae, consectetur 
        li
          a(href="#") Tempora nihil vel

      