section.question 
  .question-content
    h1.question-heading Have your own boat?
    h2.question-caption Navigare necesse est, vivere non est necesse
    a(href="#").question-button Make money with your boat