section.question 
  .question-content
    +blockTitle({
      heading: "Have your own boat?",
      caption: "Navigare necesse est, vivere non est necesse"
    })
    a(href="#").question-button Make money with your boat