.question {
  background: linear-gradient(to bottom, rgba(#1d1416, 0.5), rgba(#1d1416, 0.5)), url(../images/img-question-bg.png) no-repeat center center / cover;
  min-height: 45rem;
  @include flexbox((
    align-items: center,
    justify-content: center
  ));
  text-align: center;
  &-heading {
    text-transform: uppercase;
    font-size: var(--heading-fz);
    font-weight: bold;
    color: $main-title-color;
    margin-bottom: var(--heading-mb);
  }

  &-caption {
    font-family: $secondary-font;
    text-transform: uppercase;
    font-size: var(--caption-fz);
    color: $main-title-color;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: var(--caption-mb);
  }
  &-button {
    @include flexbox((
      align-items: center,
      justify-content: center
    ));
    width: 100%;
    max-width: 274px;
    height: 46px;
    margin: 0 auto;
    border-radius: 4px;
    background: $primary-color;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
  }

  @include maxWidth(1279px) {
    padding: 0 1.5rem;

  }

  @include maxWidth(479px) {
    &-button {
      font-size: 1.2rem;
    }
  }
}